:host ::ng-deep .p-inputotp {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-inputotp-input {
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid #d1d5db;
    /* gray-300 */
    border-radius: 0.375rem;
    /* rounded-md */
    color: #111827;
    /* gray-900 */
    background-color: #fff;
    transition: border-color 0.2s, box-shadow 0.2s;
}

:host ::ng-deep .p-inputotp-input:focus {
    outline: none;
    border-color: #6366f1;
    /* indigo-500 */
    box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2);
    /* ring-indigo-500 */
}